.container {
  margin: 20px auto;
  font-family: "Open Sans", sans-serif;
}

.weather-app-left-bar {
  background: rgb(255, 255, 255);
}

.weather-app-left-bar .search-area {
  margin: 15px 2px;
}

.current-location-button {
  border: none;
  color: #65B1A7;
  margin: 15px 2px;
  padding: 6px 3px;
  font-size: 16px;
}

.current-location:hover {
  color: #FF6884;
  opacity: 70%;
  border-radius: 30%;
}

.search-bar:focus {
  outline: none;
  border-color: #487d76;
  box-shadow: 0 0 10px #487d76;
}

.search-button {
  color: #65b1a7;
  border: 1px solid #65b1a7;
}

.search-button:hover {
  background-color: #65b1a7;
}

.img-1 {
  width: 150px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.left-bar-current-temp-area {
  font-size: 48px;
  font-family: "Lato", sans-serif;
}

.left-bar-units-celsius-button,
.left-bar-units-fahrenheit-button,
.left-bar-units-dash {
  position: relative;
  bottom: 20px;
  background-color: white;
  border-style: none;
  padding: 1px;
  font-size: 16px;
  opacity: 80%;
}

.left-bar-units-celsius-button:active,
.left-bar-units-fahrenheit-button:active {
  opacity: 100%;
}

.left-bar-units-celsius-button:focus,
.left-bar-units-fahrenheit-button:focus {
  opacity: 100%;
  color: #65b1a7;
}

.left-bar-current-date-time {
  font-size: 20px;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
}

.left-bar-current-weather-desctiption,
.left-bar-current-city {
  font-size: 18px;
}

.weather-app-right-bar {
  background: #f4f3f3;
}

.weather-app-right-bar .right-bar-month-week-units {
  margin: 0 auto;
  margin-top: 15px;
  font-size: 20px;
  color: black;
  opacity: 70%;
  font-family: "Montserrat", sans-serif;
}

.weather-app-right-bar .right-bar-weather-weekly-cards {
  margin: 0 auto;
  font-size: 12px;
}

.weather-app-right-bar .right-bar-weather-weekly-cards .right-bar-weather-weekly-card {
  border: none;
  background-color: white;
  margin-bottom: 10px;
  color: black;
}

.weather-app-right-bar .right-bar-weather-weekly-cards .right-bar-weather-weekly-card:hover {
  background-color: #65b1a7;
}

.card-daily .day {
  font-size: 20px;
}

.right-bar-celsius-button,
.right-bar-fahrenheit-button {
  background-color: #f4f3f3;
  border-color: #f4f3f3;
  border-radius: 50%;
  border-style: none;
  padding: 5px 10px;
}

.right-bar-celsius-button:focus,
.right-bar-fahrenheit-button:focus {
  opacity: 100%;
  color: #65b1a7;
}



.right-bar-week-button {
  background-color: #f4f3f3;
  border-color: #f4f3f3;
  padding: 5px 10px;
  border-style: none;
}

.weather-app-right-bar .right-bar-today-highlights {
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
}

.weather-app-right-bar .right-bar-today-highlights-card {
  border: none;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.hightlight-metrics {
  opacity: 70%;
}

.weather-app-right-bar .right-bar-today-highlights-card:hover {
  background-color: #ff6884;
}

.coder {
  text-align: center;
  margin: 15px 0;
  opacity: 70%;
  font-size: 14px;
}

.coder-link {
  text-decoration: none;
  color: black;
}

.custom-highlight-col {
  margin-top: 5px;
  margin-bottom: 5px;
}
